# BEGIN W3TC Browser Cache
RewriteEngine on
RewriteCond %{HTTP_HOST} ^creaflare\.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.creaflare\.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://creaflare.com/$1 [L,R=301,NC]

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]